.header{
  background-image: url(../images/h_img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 180px;
  height:100vh
}
.section-services{
  background-image: url(../images/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}